// Fonts
$site-font-headings: 'Georgia', sans-serif;
$site-font-body: 'Lucida Grande', sans-serif;

// Colors
$site-bg:          #f1f1f1;
$site-text-muted:  #A4A4A4;


// Breakpoints
$mc-bp-tiny:      480px;
$mc-bp-small:     768px;
$mc-bp-medium:    992px;
$mc-bp-large:     1200px;
$mc-bp-full:      1440px;