:global {
  @import 'base/variables';
  @import 'reset/reset';

  body {
    font-family: $site-font-body;
    font-weight: 400;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5 {
    font-family: $site-font-headings;
  }

  #logo {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-family: "Helvetica";
    padding: 0.5em;
  }
}
